<div class="pensamento {{ thought.model }} ff-roboto-mono" [ngClass]="thoughtWidth()">
    <img src="/assets/imagens/{{ thought.model }}.png" alt="Aspas coloridas">
    <p class="conteudo">{{ thought.content }}</p>
    <p class="autoria"><b>{{ thought.author }}</b></p>
    <div class="acoes">
        <button class="botao-editar">
            <img src="/assets/imagens/icone-editar.png" alt="Ícone de editar">
        </button>
        <button class="botao-excluir">
            <img src="/assets/imagens/icone-excluir.png" alt="Ícone de excluir" routerLink="/delete-thought/{{thought.id}}">
        </button>
    </div>
</div>